.app-container {
  width: 100%;
  height: 100vh;
  background-color: #deb0c2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
}

header {
  margin: 30px;
}

.accommodation-container,
.places-container,
.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1,
h2,
h3 {
  color: rgb(107, 7, 7);
  text-align: center;
  margin: 0;
}

.homepage-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.input-form {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.input-hotel,
.input-place {
  width: 100%;
  height: 1.5rem;
}

.input-place-address,
.input-reason-to-visit,
.input-food-item,
.input-restaurant {
  width: 45%;
  height: 1.5rem;
}

.react-datepicker-wrapper {
  width: 50%;
  margin: 0;
}

.react-datepicker__input-container {
  margin: 5px;
}

.react-datepicker__input-container input {
  width: 80%;
}

.add-button {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  border-radius: 50%;
}

.add-button {
  font-size: 2rem;
  background-color: rgb(107, 7, 7);
  color: white;
  border: 2px solid #a76781;
  margin: 10px 0 20px;
}

.delete-button {
  height: 50px;
  width: 50px;
  font-size: 1.5rem;
  width: 10px;
  font-weight: bold;
  color: rgb(107, 7, 7);
}

table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  width: 75%;
  text-align: center;
  border-collapse: collapse;
  margin: 10px;
}

th {
  padding: 15px;
  background-color: #a76781;
  color: white;
  font-size: 0.9rem;
}

tr:hover {
  background-color: white;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  grid-gap: 10px;
}

.nav-bar button {
  height: 5rem;
  width: 100%;
  margin: 5px;
  border-radius: 5px;
  background-color: #a76781;
}

.nav-bar button:hover {
  background-color: white;
}

/* Text wrapping */
.place-address,
.restaurant {
  white-space: normal;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .app-container {
    border-radius: 0;
  }
  .input-form {
    flex-direction: column;
  }
  .input-place-address,
  .input-reason-to-visit {
    width: 100%;
  }
}
