.app-container {
  width: 100%;
  height: 100vh;
  background-color: #deb0c2;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.accommodation-container,
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(107, 7, 7);
  text-align: center;
}

.accommodation-container h1 {
  margin: 0;
}

h2 {
  color: rgb(107, 7, 7);
  margin: 0;
}

h3 {
  color: rgb(107, 7, 7);
  text-align: center;
}

.input-form {
  margin-bottom: 10px;
}

.input-hotel {
  flex: 2;
  padding: 5px;
}

.date-picker {
  flex: 1;
}

.add-button {
  font-size: 2rem;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  background-color: rgb(107, 7, 7);
  color: white;
  border: 2px solid #a76781;
  margin-bottom: 10px;
}

table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  width: 75%;
  text-align: center;
  border-collapse: collapse;
  margin: 10px;
  text-wrap: nowrap;
}

th {
  padding: 20px;
  background-color: #a76781;
  color: white;
  font-size: 1rem;
}

td {
  display: table-cell;
  vertical-align: inherit;
  padding: 15px;
  background-color: #f2f2f2;
}

.hotel-name {
  width: 1;
  text-align: left;
}

.delete-button {
  width: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0;
  color: rgb(107, 7, 7);
}

.add-button:hover {
  cursor: pointer;
  background-color: rgb(117, 38, 77);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.263);
}

tr:hover {
  background-color: coral;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.nav-bar button {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(107, 7, 7);
  color: white;
}

.nav-bar button:hover {
  cursor: pointer;
  background-color: rgb(117, 38, 77);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
